sudo: required
language: csharp
solution: src/VigilantChainsaw.sln
services:
  - docker
install:
  - nuget restore src/VigilantChainsaw.sln
  - nuget install NUnit.Runners -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release src/VigilantChainsaw.sln
  - mono ./testrunner/NUnit.ConsoleRunner.*/tools/nunit3-console.exe ./src/VigilantChainsaw.Services.Index.Tests/bin/Release/VigilantChainsaw.Services.Index.Tests.dll
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker build -t vigilant-chainsaw-application:1.$TRAVIS_BUILD_NUMBER ./src/VigilantChainsaw.Application/bin/Release/
  - docker tag vigilant-chainsaw-application:1.$TRAVIS_BUILD_NUMBER csuzw/vigilant-chainsaw
  - docker push csuzw/vigilant-chainsaw